<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title style="text-align: center;">Escola</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of escolas">
    <ion-card (click)="toggleCard(item)" style="border: 1px solid; border-radius: 10px; margin: 10px;">
      <ion-card-header>
        <ion-card-title style="text-align: center;">{{item.noEntidade}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="item.expandido">
          <p>Código inep: {{item.coEntidade}}</p>
          <p>Ano Censo:{{item.nuAnocenso}}</p>
          <p>Localização: {{item.localizacao}}</p>
          <p>Região: {{item.noRegiao}}</p>
          <P>tpDependencia: {{item.tpDependencia}}</P>
          <p>Código do Municipio: {{item.coMunicipio}}</p>
          <p>Nome do Municipio: {{item.noMunicipio}}</p>
          <p>Rede:{{item.rede}}</p>
          <p>Cep:{{item.coCep}}</p>
          <p>coUf:{{item.coUf}}</p>
          <p>sgUf:{{item.sgUf}}</p>
          <p>Endereço:{{item.dsEndereco}}</p>
          <p>Código Endereço:{{item.nuEndereco}}</p>
          <p>dsComplemento:{{item.dsComplemento}}</p>
          <p>Bairro:{{item.noBairro}}</p>
          <p>Ddd:{{item.nuDdd}}</p>
          <p>Telefone:{{item.nuTelefone}}</p>
          <p>Telefone Publico:{{item.nuTelefonePublico}}</p>
          <p>nuFax:{{item.nuFax}}</p>
          <p>latitude:{{item.latitude}}</p>
          <p>longitude:{{item.longitude}}</p>

          <div style="display: flex; justify-content: center; margin-top: 20px;">
            <ion-button fill="clear" slot="end" (click)="addFavorito(item)" *ngIf="!isFavorito(item)">
              Adicionar aos favoritos
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>