<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Escola</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of escolas">
    <ion-card (click)="toggleCard(item)">
      <ion-card-header>
        <ion-card-title>{{item.noEntidade}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Código inep: {{item.coEntidade}}</p>
        <div *ngIf="item.expandido">
          <p>Localização: {{item.localizacao}}</p>
          <p>Região: {{item.noRegiao}}</p>
          <P>tpDependencia: {{item.tpDependencia}}</P>
          <p>Código do Municipio: {{item.coMunicipio}}</p>
          <ion-button fill="clear" slot="end" (click)="addFavorito(item)" *ngIf="!isFavorito(item)">
            Adicionar aos favoritos
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>