<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Escolas Favoritas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let item of listaFavoritos">
      <ion-item (click)="toggleCard(item)">
        <ion-card style="margin: 0 auto; width: 90%;">
          <ion-card-header>
            <ion-card-title style="text-align: center;">{{item.noEntidade}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div *ngIf="item.expandido">
              <p>Código inep: {{item.coEntidade}}</p>
              <p>Ano Censo:{{item.nuAnocenso}}</p>
              <p>Localização: {{item.localizacao}}</p>
              <p>Região: {{item.noRegiao}}</p>
              <P>tpDependencia: {{item.tpDependencia}}</P>
              <p>Código do Municipio: {{item.coMunicipio}}</p>
              <p>Nome do Municipio: {{item.noMunicipio}}</p>
              <p>Rede:{{item.rede}}</p>
              <p>Cep:{{item.coCep}}</p>
              <p>coUf:{{item.coUf}}</p>
              <p>sgUf:{{item.sgUf}}</p>
              <p>Endereço:{{item.dsEndereco}}</p>
              <p>Código Endereço:{{item.nuEndereco}}</p>
              <p>dsComplemento:{{item.dsComplemento}}</p>
              <p>Bairro:{{item.noBairro}}</p>
              <p>Ddd:{{item.nuDdd}}</p>
              <p>Telefone:{{item.nuTelefone}}</p>
              <p>Telefone Publico:{{item.nuTelefonePublico}}</p>
              <p>nuFax:{{item.nuFax}}</p>
              <p>latitude:{{item.latitude}}</p>
              <p>longitude:{{item.longitude}}</p>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="removeFavorito(item)">
          <ion-icon name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
