
<ion-content>
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height:fit-content">
    <h1 style="margin-bottom: 50%;">Escolas</h1>
    <ion-input id="input1" style="text-align: center; border: 1px solid white; width: 50%; border-radius: 10px; margin-bottom: 16px;" placeholder="Digite algo aqui"></ion-input>
    <ion-input id="input2" style="text-align: center; border: 1px solid white; width: 50%; border-radius: 10px;" placeholder="Digite algo aqui"></ion-input>
    <ion-button (click)="onButtonClick()" style="margin: 30px 30px;" expand="full">Consultar</ion-button>
  </div>
</ion-content>